<%= form_for(@backlogentry) do |f| %>
  <% if @backlogentry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@backlogentry.errors.count, "error") %> prohibited this backlogentry from being saved:</h2>

      <ul>
      <% @backlogentry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.number_field :priority %>
  </div>
  <div class="field">
    <%= f.label :resolution %><br />
    <%= f.number_field :resolution %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
