<%= form_for([@schema,@issuetype]) do |f| %>
  <% if @issuetype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issuetype.errors.count, "error") %> prohibited this issuetype from being saved:</h2>

      <ul>
      <% @issuetype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :schema_id %><br />
    <%= f.text_field :schema_id %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
