<h1>Listing issuetypes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @issuetypes.each do |issuetype| %>
  <tr>
    <td><%= issuetype.name %></td>
    <td><%= issuetype.active %></td>
    <td><%= link_to 'Destroy',[@schema,issuetype] ,confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Issuetype', new_schema_issuetype_path(@schema) %>
<%= link_to 'Back to Schema',schemas_path %>
